form {
  text-align: left;
  color: #555;
  display: block;
  margin: 20px auto;
  padding: 2px;
  border-radius: 20px;
  max-width: 100%;
  width: 350px;
  background: white;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.1);
}

form input {
  height: 30px;
  max-width: 100%;
}

#search-input {
  background: white;
  margin: 0;
  padding: 7px 90px 7px 20px;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
}

button {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  height: 23px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("/media/search.svg") no-repeat center;
  cursor: pointer;
  opacity: 0.5;
}
.wrap img {
  max-width: 532px;
  border-radius: 40px;
  height: 450px;
}

.wrap {
  display: inline-block;
  position: relative;
  margin: 30px;
}

.wrap img + .container {
  position: absolute;
  left: 0;
  right: 0;
}

.container {
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 532px;
  height: 450px;
  display: inline-block;
}

.col-6 h1 {
  font-size: 20px;
}

.col-6 h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#degrees {
  color: white;
}
.col-6 h3 {
  font-size: 16px;
}

.temp-primary {
  font-size: 14px;
}

.icon-primary {
  font-size: 20px;
  color: white;
  text-align: center;
}

#celcius {
  text-decoration: none;
  color: white;
}
#fahrenheit {
  text-decoration: none;
  color: white;
}

.current-conditions {
  font-size: 14px;
  padding-top: 12px;
  text-align: left;
}

.days {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;

  line-height: 35px;
}

.icon-secondary {
  font-size: 20px;
}

.info-link {
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  text-align: right;
  color: #ffffff;
}

footer {
  font-size: 10px;
  font-weight: bold;
  margin: auto;
}

footer .contact-coder {
  text-decoration: none;
  color: #ffffff;
}
